* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(163, 163, 163);        
    min-height: 100vh;
}

.preenchimento {
    background-color: purple;
    border: 1px solid white;
    color: white;
    text-align: center;
}


.px-3{
    background-image: url(https://newevolutiondesigns.com/images/freebies/4k-dog-wallpaper-1.jpg);
    background-size: cover;
    min-height: 100vh;
}

.navbar{
    background-color: rgb(rgb(41, 14, 92) 
    )
}